body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-light;
	
	color: $color-gray;
	background: $color-gray-light;
}

.container {
	width: 100%;
	max-width: 300px;
	min-height: 100vh;
	margin: auto;

	@include display-flex;
	@include flex-wrap;

	@include justify-content(center);
	@include align-items(center);

	@include align-content(center);
}