.button {

	$padding-vertical: 0;
	$padding-horizontal: 1.5em;
	$font-size: $font-size-base;
	$line-height: 3;
	$border-radius: 3px;

	@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
	font-weight: $font-weight-bold;
	border: 1px solid black;
	margin: .5em 0;
	cursor: pointer;

	&.default {

		$color: $button-default-color;
		$background: $button-default-bg;
		//$border: 1px solid $button-default-border;
		$border: none;
		@include button-variant($color, $background, $border);
	}

}